<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRUD Operations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">CRUD Operations</a>
          </div>
        </nav>
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-black bg-info text-center p-3">Insert Student Details</h2>
                <form action="/insert" method="post">{% csrf_token %}
                    <!-- insert est le chemin(path) ou on doit soumettre le formulaire -->
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter The Student Name" name="name" required>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control mt-2" placeholder="Enter The Student Mail" name="mail" required>
                    </div>

                    <!-- <div class="form-group">
                        <input type="text" class="form-control mt-2" placeholder="Enter The Student Mark" name="name" required>
                    </div> -->
                    
                    <div class="form-group">
                        <label for="gender"></label>
                        <select name="gender" id="gender" class="form-control" required>
                            <option selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="submit">Save</button>
                        <button class="btn btn-danger" type="reset">Erase</button>
                      </div>
                </form>
            </div>
        <div class="col-md-8">
          <h2 class="text-center bg-info text-black p-3">Student Details</h2>
          <table class="table table-info">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Mail</th>
                <th scope="col">Gender</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for d in data %}
                <tr>
                  <th scope="row">{{d.id}}</th>
                  <td>{{d.name}}</td>
                  <td>{{d.mail}}</td>
                  <td>{{d.gender}}</td>
                  <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                  <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
                </tr>
               {% endfor %} 
            </tbody>
          </table>
        </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>